<div class="container mt-4">
    <div class="card">
        <div class="d-flex justify-content-between p-3">
            <div class="image">
                <img src="https://s3.amazonaws.com/mlmedia-app-media/dockstreetmedia/images/tools/medium/tools-angular.png" alt="angular" width="70" height="70">
            </div>
            <div class="quiz-header">
                <h4>Angular тест</h4>
                <span>Привет {{name}}</span>
            </div>
        </div>

        <ng-container *ngIf="!isQuizCompleted">
            <div class="d-flex justify-content-around py-3">
                <div class="score">
                    <h5>{{points}} очков</h5>
                </div>
                <div class="question-remain">
                    <span style="font-style: italic;">Вопрос  {{currentQuestion + 1}} из {{questionList.length}}</span>
                </div>
                <div class="timer">
                    <h5>{{counter}} сек ⏱</h5>
                </div>
            </div>
            <div class="progress mb-3 ">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{'width': progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="question">
               <div class="card">
                   <h3>{{questionList[currentQuestion]?.questionText}}</h3>
               </div>
            </div>
            <div class="options">
                <ol *ngFor="let option of questionList[currentQuestion]?.options" >
                    <li (click)="answer(currentQuestion + 1, option)">
                        <div appChangeBg [isCorrect]="option.correct" class="card">
                            {{option.text}}
                        </div>
                    </li>
                                    
                </ol>
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" [disabled]="currentQuestion === 0" [disabled]="disabledButton" (click)="previousQuestion()"><fa-icon [icon]="faChevronLeft" ></fa-icon></button>
                <button class="btn btn-primary" (click)="resetQuiz()" [disabled]="disabledButton"><fa-icon [icon]="faRefresh"></fa-icon></button>
                <button class="btn btn-primary"[disabled]="currentQuestion === questionList.length - 1" [disabled]="disabledButton" (click)="nextQuestion()"><fa-icon [icon]="faChevronRight" ></fa-icon></button>
            </div>
        </ng-container>

        <ng-container *ngIf="isQuizCompleted">
            <div class="row d-flex justify-content-between mt-4">
                <img style='width: 40%;' class="img-fluid col-sm-12 mx-auto my-4" src="https://www.seekpng.com/png/full/14-147262_confetti-icon.png" alt="celebration">
                <div class="result text-center col-md-6 col-sm-12">
                    <h4>Поздравляю!</h4>
                    <h5>Твои результаты:</h5>
                    <br>
                    <h4> Очков: {{points}}</h4>
                    <br>
                    <p>Правильных ответов</p>
                    <h4>{{ getCorrectPercent() }} %</h4>
                </div>
            </div>
            <button class="btn btn-primary btn-lg" routerLink="/welcom">Повторить</button>
        </ng-container>
    </div>

    
</div>
