
<div class="container  py-4" style="text-align: center;">
    <h1 class="display-6 fw-bold">Тест по Angular</h1>
    <p class="fs-4" style="text-align: center;">Тест содержит 10 вопросов. Займет 3-5 минут.</p>
    <h4>Правила:</h4>
    <ol>
        <li>Быстрый правильный ответ - добавляет 10 очков</li>
        <li>Правильный ответ - добавляет 5 очков</li>
        <li>Неправильный ответ - отнимает 5 очков</li>
        <li>Вопрос можно пропустить</li>
        <li>60 секунд на каждый вопрос</li>
    </ol>
    <h2 style="text-align: center;">У тебя все получится!</h2>
    <div class="name  my-3">
        <label for="">Введите ваше Имя:</label>
        <input #name type="text" class="form-control">
        <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Начать</button>
    </div>
    
</div>
